# Python virtual environment
venv/
.venv/

# Pycache files
__pycache__/
*.pyc

# Model checkpoints
checkpoints/

# Academic paper drafts & local notes (protect from plagiarism scanners & double-blind review)
research_paper_details.md

# IDE & Local Compiled PDF files
.vscode/
.idea/
.DS_Store
Implementation.pdf
